*,
html,
body {
    margin: 0;
    padding: 0;
}


.fcontainer {
    display: flex;
    width: 100%;

}





/* box navbar */
.navbar {
    display: flex;
    background-color: white;
    position: fixed;

    align-items: center;
    width: 100%;
    height: 68px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.5);
}

.nav-brand {
    display: flex;
    margin: 35%;
    height: 45px;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 600px; */
    height: 500px;
    padding-top: 120px;
    height: 30%;
    border: 2px solid green;
}

.wrapper {
    display: flex;
    /* width: 100%; */
    /* height: auto; */
    width: 40%;
    border: 2px solid red;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding-top: 120px; */
}



.card {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    justify-content: center;
    /* text-align: center; */
    background-color: #2222;

}

.card img {

    align-items: center;
}

.content h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 42, 44);
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightslategray;
}

.button button {
    font-family: Montserrat, sans-serif;
    color: white;
    margin: 32px;
    padding: 15px 12px;
    width: 200px;
    height: 45px;
    background-color: #2B80A3;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}