*,
html,
body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    width: 100%;

}


/* box navbar */
.navbar {
    display: flex;
    background-color: white;
    position: fixed;

    align-items: center;
    width: 100%;
    height: 68px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.5);
}

.nav-brand {
    display: flex;
    margin: 35%;
    height: 45px;

}


.ques-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;

    /* border: 2px solid green; */
}

.wrapper {
    display: flex;
    /* width: 100%; */
    /* height: auto; */
    width: 40%;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding-top: 120px; */
}



.card {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    /* text-align: center; */


}

.card img {

    align-items: center;
}

.content h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 42, 44);
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightslategray;
}

.button button {
    font-family: sans-serif;
    text-align: center;
    font-size: 90%;
    color: white;
    /* margin: 32px; */
    padding: 15px 12px;
    width: 200px;
    height: 45px;
    background-color: #2B80A3;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.1s;
}

.button button:hover {
    font-family: sans-serif;
    text-align: center;
    font-size: 90%;
    color: #2B80A3;
    /*margin: 32px;
    */
    padding: 15px 12px;
    width: 200px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #2B80A3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 400px;

    /* border-color: red; */

}

.btn-container {
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    /* border: 2px solid #2B80A3;
    border-color: #2B80A3; */
    justify-content: center;
}

p {
    font-size: 120%;
    color: rgba(8, 8, 8, 0.7);

}

.btn {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgba(78, 72, 72, 0.7);
    border: 2px solid rgba(78, 72, 72, 0.7);
    text-align: left;
    font-size: 90%;
    /* padding: 20%; */
    margin-bottom: 15px;
    padding: 15px 20px;
    width: 400px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.1s;
}

.btn:hover {
    font-family: sans-serif;
    color: white;
    border: 2px solid #2B80A3;
    margin-bottom: 15px;
    padding: 15px 20px;
    width: 400px;
    height: 45px;
    background-color: #2B80A3;
    border-radius: 5px;
}


.icontainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.rules {
    /* width: 100%; */
    /* flex-direction: column; */
    text-align: center;
    /* border: 2px solid #2B80A3; */
}

small {
    display: block;
    font-size: 90%;
    font-weight: bold;
    color: red;
}

.btn-rules {
    display: flex;
    width: 100%;
    margin-top: 15px;
    /* border: 1px solid green; */
    justify-content: space-between;

}

.btn-rules #back {
    font-family: sans-serif;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: #2B80A3;
    margin: 0;
    width: 80px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #2B80A3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.1s;
}

.btn-rules #next {
    font-family: sans-serif;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: white;
    margin: 0;
    width: 80px;
    height: 45px;
    background-color: #2B80A3;
    border-radius: 5px;
    border: 1px solid #2B80A3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-property: background-color;
    transition-duration: 0.1s;
}

.btn-rules #back:hover {
    font-family: sans-serif;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: white;
    margin: 0;
    width: 80px;
    height: 45px;
    background-color: #2B80A3;
    border-radius: 5px;
    border: 1px solid #2B80A3;
}

.btn-rules #next:hover {
    font-family: sans-serif;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: #2B80A3;
    margin: 0;
    width: 80px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #2B80A3;
}

.pcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

.btn-pertanyaan {
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    /* border: 2px solid #2B80A3;
    border-color: #2B80A3; */
    justify-content: center;
    padding-top: 100px;
}


.pertanyaan1 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    width: 100%;
    height: 80px;
}



.pertanyaan1 h3 {
    color: #2B80A3;
}